html{
    position: relative;
}

body{
    background-color: cornflowerblue;  
}
.navbar{
    background-color: darkblue;
    border-bottom: solid gainsboro;

}
#logo{
    background-color: cornflowerblue;
    border: double;
}

.navbar-brand{
    color: cornflowerblue;
}
.active{
    color:gainsboro;
}
.nav-item{
text-align: center;
background-color: cornflowerblue;
border: double;
}

.card-title{
    text-align: center;
}

#about-image {
  float: left;
  /* width: 200px; */
  margin: 0 20px 10px 0;
}
img {
    max-width:100%;
    height:auto;
}
hr{
    border-top: 3px double black;
    width: 100%;
}
.container-body{
    background-color: royalblue;
    border-style: double;
}
.row{
    background-color:royalblue;
}
#border{
    border-style: double;
}
.port-image {
    display: block;
  margin: 20px auto;
  border-style: double;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: darkblue;
  color: cornflowerblue;
  text-align: center;
  border-top: solid gainsboro;
}

section {
  float: left;
  width: 63%;
}
aside {
  float: right;
  width: 30%;
}

.links{
    text-align: center;
    
}
article#border.about{
    background-color: royalblue;
}
section#border.block{
    background-color: royalblue;
    float: right;
}
section#border.row{
    text-align: center;
}