html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: cornflowerblue;  
}
.navbar{
    background-color: darkblue;
    border-bottom: solid gainsboro;

}
#logo{
    background-color: cornflowerblue;
    border: double;
}

.navbar-brand{
    color: cornflowerblue;
}
.active{
    color:gainsboro;
}
.nav-item{
text-align: center;
background-color: cornflowerblue;
border: double;
}

.row{
    border-style: double;
}
.card-title{
    text-align: center;
}
#about-image {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}
hr{
    border-top: 3px double black;
    width: 100%;
}
.container-body{
    background-color: royalblue;
    border-style: double;
}
.row{
    background-color:royalblue;
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: darkblue;
  color: cornflowerblue;
  text-align: center;
  border-top: solid gainsboro;
}